// Thin
@font-face {
    font-family: 'Golos';
    src: url('../fonts/golos/Golos-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

// Extra Light
@font-face {
    font-family: 'Golos';
    src: url('../fonts/golos/Golos-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

// Light
@font-face {
    font-family: 'Golos';
    src: url('../fonts/golos/Golos-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// Regular
@font-face {
    font-family: 'Golos';
    src: url('../fonts/golos/Golos-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Medium
@font-face {
    font-family: 'Golos';
    src: url('../fonts/golos/Golos-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Bold
@font-face {
    font-family: 'Golos';
    src: url('../fonts/golos/Golos-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// Cursive Light
@font-face {
    font-family: 'Golos';
    src: url('../fonts/golos/Golos_Cursive-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

* {
    font-family: 'Golos Text', sans-serif;
}

html, body {
    font-family: 'Golos', sans-serif;
    font-size: 1rem;
    font-weight: 500; 
}
