.credit {
  background-color: #2e2e2e;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    max-width: 616px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 69px;
    h2 {
      font-size: 50px;
      line-height: 55px;
      font-weight: 400;
      color: #fff;
    }
    span {
      font-weight: 700;
    }
  }
  &__description {
    max-width: 424px;
    text-align: center;
    margin-bottom: 34px;
    p {
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      color: #fff;
    }
  }
  &__terms {
    background-color: #fff;
    border-radius: 30px;
    padding: 46px 57px 46px 96px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
    gap: 20px;
    max-width: 629px;
    margin-bottom: 20px;
  }

  &__term {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  &__term-label {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
  }
  &__term-value {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    color: #3248e4;
  }
  &__divider {
    position: absolute;
    top: 50%;
    border: none;
    border-top: 1px solid #ccc; /* Adjust color and thickness as needed */
    margin: 20px 0;
  }
  &__btn {
    margin-bottom: 56px;
  }
  &__decor {
    position: absolute;
    &-search {
      max-width: 66px;
      width: 100%;
      height: auto;
      top: 109.13px;
      left: 277px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-calendar {
      max-width: 95px;
      width: 100%;
      height: auto;
      top: 145px;
      right: 294px;
            img {
        width: 100%;
        height: 100%;
      }
    }
    
  }
}
